[submodule ".magic-context"]
	path = .magic-context
	url = git@github.com:igamenovoer/magic-context.git
	branch = main
[submodule "context/refcode/jsonrpcclient"]
	path = context/refcode/jsonrpcclient
	url = https://github.com/explodinglabs/jsonrpcclient.git
	branch = main
[submodule "context/refcode/jsonrpcserver"]
	path = context/refcode/jsonrpcserver
	url = https://github.com/explodinglabs/jsonrpcserver.git
	branch = main
[submodule ".quick-tools"]
	path = .quick-tools
	url = git@github.com:igamenovoer/quick-tools.git
	branch = main
[submodule "context/refcode/smplx"]
	path = context/refcode/smplx
	url = https://github.com/vchoutas/smplx.git
	branch = main
